.usersListWrapper {
    display: grid;
    grid-auto-flow: column;
    background-color: aquamarine;
    border-radius: 10px;
    margin-bottom: 10px;
}

.usersListItemWrapper {
    padding-left: 5px;
    background-color: aquamarine;
    border-radius: 10px;
    font-size: 18px;
}

.usersListCurrentItem {
    padding-left: 5px;
    font-weight: bold;
    border-radius: 10px;
}

.usersWrapper {
    background-color: aquamarine;
    display: grid;
    border-radius: 10px;
}

.usersItems {
    display: grid;
    align-self: start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
