.usersWrapper {
    background-color: aquamarine;
    display: grid;
    border-radius: 10px;
}

.usersItems {
    display: grid;
    align-self: start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
