.usersListWrapper {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  /* justify-content: center; */
}

.usersListItemWrapper {
  padding-left: 5px;
  background-color: aquamarine;
  border-radius: 10px;
  font-size: 18px;
}

.usersListCurrentItem {
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
}
